{% extends "./base.html" %}
{% load static %}
{% block title %} PG | NOSOTROS  {% endblock %}

{% block body %}
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">

    <div>
        <h1>NOSOTROS</h1>
    </div>

    <div>
    <div class="container">
        <div class="col-md-12 content">
            <div itemprop="articleBody">
                <h3>MISIÓN</h3>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia libero eaque animi, reiciendis ipsum, sint eum quod, voluptatem blanditiis vero veritatis accusantium suscipit non. Necessitatibus, ullam? Architecto explicabo quod non!
                           
                </p>
                <p>&nbsp;</p>
                <h3>VISIÓN</h3>
                <p>Conservar, documentar, investigar y exhibir las piezas de sus colecciones. Promover actividades alrededor de las diversas manifestaciones del arte y la cultura. Aportar desde diversos ámbitos de la educación, tanto formal como no formal en beneficio de diferentes públicos.</p>
                <p>&nbsp;</p>
                <h3>ARTISTAS</h3>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/escultor.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Jaime Carmona - Escultor</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/escultor2.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Patricio Jaque - Escultor</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/orfebre.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Fernando Perez - Orfebre</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/orfebre2.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Hector Arevalo - Orfebre</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/pintor.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Carlos Olivares - Pintor</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/pintor2.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Alejandro Rojas - Pintor</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-md-4 text-center">
            <h1>El Tiempo</h1>
            <h2 id="estacion"></h2>
            <h3 id="estado"></h3>
            <img src="{% static 'img/parcial_soleado.gif' %}" class="img-fluid" width="200px">
            <div id="temperatura">
                <div id="temp">20</div>
                <div id="grados">º</div>
                <br>
                <div id="hum">Humedad 49%</div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" 
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" 
        crossorigin="anonymous">
    </script>
    <script src="{% static 'js/api.js' %}"></script>
{% endblock %}