{% extends "./base.html" %}
{% load static %}
{% block title %} PG | NOSOTROS  {% endblock %}

{% block body %}
    <div>
        <h1>NOSOTROS</h1>
    </div>

    <div>
    <div class="container">
        <div class="col-md-12 content">
            <div itemprop="articleBody">
                <h3>MISIÓN</h3>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia libero eaque animi, reiciendis ipsum, sint eum quod, voluptatem blanditiis vero veritatis accusantium suscipit non. Necessitatibus, ullam? Architecto explicabo quod non!
                           
                </p>
                <p>&nbsp;</p>
                <h3>VISIÓN</h3>
                <p>Conservar, documentar, investigar y exhibir las piezas de sus colecciones. Promover actividades alrededor de las diversas manifestaciones del arte y la cultura. Aportar desde diversos ámbitos de la educación, tanto formal como no formal en beneficio de diferentes públicos.</p>
                <p>&nbsp;</p>
                <h3>ARTISTAS</h3>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/escultor.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Jaime Carmona - Escultor</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/escultor2.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Patricio Jaque - Escultor</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/orfebre.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Fernando Perez - Orfebre</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/orfebre2.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Hector Arevalo - Orfebre</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/pintor.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Carlos Olivares - Pintor</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/pintor2.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Alejandro Rojas - Pintor</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
{% endblock %}