{% extends "../base.html" %}
{% block title %} Editar|REG {% endblock %}
{% block body %}
 

    <div class="row">
        <!--  DESDE BASE DE DATOS -->
        {% for obr in obras %}
        <div class="col"> 
          <div>
            <h1>{{obr.nombre}} </h1>
          </div>
            <img src="{{obr.img.url}}" alt="" style="width: 50%;">
            <div class="card shadow-sm">
            <div class="card-body">
              <div class="card-text">
                <p>
                  Nombre autor		: {{obr.nombre_autor}} <br>
                  Estado		: {{obr.estado}} <br>
                  Tipo de obra	: {{obr.tipo}}
                </p>
                <p>
                  Descripción		: {{obr.descripcion}} 
                 </p>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'obras' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Volver a obras..</a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        {% endfor %}
    </div>
{% endblock %}
